* {
    margin: 0;
    padding: 0;
}

.main {
    border: 2px solid red;
    height: 70vh;
    border-radius: 20px;
    overflow: auto;
    margin: 0% 4% 0% 4%;
}

.main::-webkit-scrollbar {
    display: none;
}

.nav {
    margin: 2% 4% 0% 4%;
    list-style: none;
    border: 2px solid red;
    border-radius: 10px;
}

.newsOption {
    display: flex;
    margin-top: 1%;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    margin: 1%;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.heading {
    margin-top: 2%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-box {
    margin: 2%;
    border: 2px solid red;
    border-radius: 10px;
    width: 50vh;
    height: 45vh;

}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .main {
        height: 78vh;
    }

    .flex-box {
        height: 34vh;
        width: 36vh;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .main {
        height: 77vh;
    }

    .flex-box {
        height: 38vh;
        width: 42vh;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .heading {
        margin-left: 5%;
    }

    .main {
        height: 76vh;
    }

    .flex-box {
        width: 47vh;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main {
        height: 74vh;
    }
}