* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b1b1e;
}

.main {
    /* border: 2px solid red; */
    height: 70.5vh;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
    margin: 0% 4% 0% 4%;
    background-color: #373f51;
}

.main::-webkit-scrollbar {
    display: none;
}

.nav {
    margin: 2% 4% -1% 4%;
    list-style: none;
    /* border: 2px solid red; */
    border-radius: 20px 20px 0px 0px;
    background-color: #373f51;
}

.newsOption {
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

h4:hover {
    background-color: #58a4b0;
    color: black;
    border-color: black;
}

h4 {
    margin: 1%;
    border: 2px solid white;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}

.heading {
    text-align: center;
    padding-top: 1%;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ffb703, #ff006e);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #373f51;
}

.flex-box {
    margin: 2%;
    /* border: 2px solid red; */
    border-radius: 15px;
    width: 50vh;
    height: 54vh;
    background-color: #A9BCD0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.flex-box:hover {
    box-shadow: 5px 5px 10px rgba(255, 255, 0, 0.858),
        -5px -5px 10px rgba(255, 255, 0, 0.779);
}

h3 {
    /* border: 2px solid red; */
    text-align: center;
    padding: 2%;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    /* border: 2px solid rebeccapurple; */
    margin-top: 3%;
    text-align: center;
    padding: 3%;
    border-radius: 2px;
}

img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.loader {
    width: 3%;
    aspect-ratio: 1;

    --c1: linear-gradient(to bottom, #f45b5b, #f28787);
    --c2: linear-gradient(to bottom, #2196f3, #0d6efd);
    --c3: linear-gradient(to bottom, #9fa8da, #8f98d1);

    --r1: radial-gradient(farthest-side at bottom, #0000 93%, transparent);
    --r2: radial-gradient(farthest-side at top, #0000 93%, transparent);

    background:
        var(--c1), var(--r1), var(--r2),
        var(--c2), var(--r1), var(--r2),
        var(--c3), var(--r1), var(--r2);

    background-repeat: no-repeat;
    animation: l2 1s infinite alternate;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes l2 {

    0%,
    25% {
        background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    50% {
        background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    75% {
        background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }

    95%,
    100% {
        background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
        background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .main {
        height: 78vh;
    }

    .flex-box {
        height: 34vh;
        width: 36vh;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .main {
        height: 77vh;
    }

    .flex-box {
        height: 38vh;
        width: 42vh;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .heading {
        margin-left: 5%;
    }

    .main {
        height: 76vh;
    }

    .flex-box {
        width: 47vh;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main {
        height: 74vh;
    }
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.input-search {
    padding: 5px;
    width: 20%;
}

button {
    padding: 5px;
}
